* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

/*background section*/
.background {
    height: 100%;
    width: 100%;
}
.top-half {
    background-color: white;
    height: 50%;
    width: 100%;
}
.bottom-half {
    background-color: black;
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*Color circles*/
.circle__container {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 32%;

}
.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.dis {
    color: white;
    position: relative;
    top: 20%;

}

/*Button*/
.button {
    position: absolute;
    left: 45%;
    bottom: 20%;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: white;
}